body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}

.container{
    text-align: center;
    width: auto;
    height: auto;
    padding: 0px;
}

.container img {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 700px;
}

.screen-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    height: 80px;
    top: 300px;
    gap: 25px;
}

.screen-right,
.screen-center,
.screen-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 25px; 
}

.screen-container img {
    position: relative;
    z-index: 3;
    width: auto;
    height: 65px;
} 

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    height: 80px;
    top: 400px;
    margin: 10px;
}

.btn-container button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 2;
    margin: 10px;
}

.btn-container img{
    position: relative;
    z-index: 3;
    width: auto;
    height: 65px;
}

.rockBtn-img{
    transform: scaleX(-1);
}

.screen-right .rock-img,
.screen-right .paper-img,
.screen-right .scissors-img{
    transform: scaleX(-1);
}

.github-container .github-img{
    position: relative;
    width: auto;
    height: 35px;
    bottom: 60px;
}
